.text-field {
  width: 40%;
  margin: 0 auto 2em;
  display: flex;
  position: relative;
  font-family: sans-serif;
}

input {
  width: 100%;
  margin-right: 1em;
  padding: 0.75em;
  border-radius: 5px;
  display: inline-block;
  border: solid medium #999;
  color: #444;
}

@media only screen and (max-width: 800px) {
  .text-field {
    flex-direction: column;
  }

  input {
    margin-bottom: 1em;
  }

  button {
    margin: 1em 0;
  }
}

label {
  color: #999;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s;
}

input:focus ~ label,
input:valid ~ label {
  top: -10px;
  left: 15px;
  font-size: small;
  font-family: sans-serif;
  color: LightGray;
  background-color: black;
  padding: 0 5px 0 5px;
}
